body {
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: sans-serif;
    font-size: 25px;
}
.container {
    width: 1000px;
    margin: 0 auto;
    min-width: 1000px;
    background-image:url(beatles.jpg);
    color: white;
    padding-top: 100px;
}
.beatle {
    background-color: rgba(255, 0, 0, 0.8);
    width: 200px;
}
#john {
    margin-left: 120px;
    margin-top: 50px;
    padding-top: 400px;
    padding-left: 270px;
    padding-bottom: 10px;
}
h3, p {
    margin: 0;
    padding: 0;
}
.naam{
    border-left: solid 9xp red;
    padding-left: 9px;
}